<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prime Intuit Registration</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css'%}">
  </head>
  <body>

    <h1>Prime intuit home page</h1>
    <img src="{% static 'images/pi.jpeg'%}">
    <p>one of the finest finishing school</p>
  {{Insert_me}}
  <div class = "Batch_Table">

    {% if access_record %}
    <table>
      <thead>
      <th> Batch ID </th>
      <th> Course ID </th>
      <th> Start Date </th>
      <th> End Date </th>
      </thead>
      {% for b in access_record %}
      <tr>
        <td>{{b.batch_ID}}</td>
        <td>{{b.course_ID}}</td>
        <td>{{b.start_date}}</td>
        <td>{{b.end_date}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p> No Batch Records found</p>
    {% endif %}
  </div>
  </body>
</html>
